.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.app__input {
  margin-top: 10px;
}
